/*
const style = `
.tableCell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}

.checkbox {
  margin-right: 10px;
}

.span {
  margin-right: 10px;
}

.button {
  margin-right: 10px;
}
`;

export default style;
*/
